header {
    background-color: #ffffff; /* Устанавливаем один цвет для хедера */
    padding: 20px 0;
    margin-right: 16px;
}
.navbar {
    background-color: #ffffff; /* Устанавливаем один цвет для навбара */
}


.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    padding: 0;
    margin-right: 30px;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-link {
    color: #000000;
    font-size: 18px;
    padding: 10px 15px;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #e1ba19;
}

.navbar-toggler {
    border: none;
}
body {

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}
.room-list {
    list-style: none;
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0;
}

.room-item {
    margin-top: 200px; /* Уменьшаем отступ сверху */
}


.room-link a {
    display: inline-block;
}

.first-image {
    width: 130%;
    margin-top: 80px;

}

.second-image {
    width: 113%;
    margin-top: 80px;
    margin-left: 105px;
}
.third-image {
    width: 61%;
    margin-top: 80px;
    margin-left: 177px;
}
.logo{
    width: 50%;

}

.toast {
    position: fixed;
    bottom: 90px;
    right: 20px;
}

h5{
    font-family: Varela;
}
.image-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.4s;
    font-size: 16px;
}

.image-button:hover {
    background-color: #e5bd14;
    color: black;
}