header {
    background-color: #ffffff; /* Устанавливаем один цвет для хедера */
    padding: 20px 0;
}

.navbar {
    background-color: #ffffff; /* Устанавливаем один цвет для навбара */
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    padding: 0;
    margin-right: 30px;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-link {
    color: #000000;
    font-size: 18px;
    padding: 10px 15px;
    transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
    color: #e1ba19;
}

.navbar-toggler {
    border: none;
}

body {
    background-image: url("images/Ph.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
}

.room-list {
    list-style: none;
    justify-content: center;
    display: flex;
    padding: 0;
    margin: 0;
}

.room-item {
    margin-top: 200px; /* Уменьшаем отступ сверху */
}


.room-link a {
    display: inline-block;
}

.first-image {
    width: 130%;
    margin-top: 80px;

}

.second-image {
    width: 113%;
    margin-top: 80px;
    margin-left: 105px;
}
.third-image {
    width: 61%;
    margin-top: 80px;
    margin-left: 177px;
}
.logo{
    width: 50%;

}

.toast {
    position: fixed;
    bottom: 90px;
    right: 20px;
}

h5{
    font-family: Varela;
}
.image-button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    transition: background-color 0.4s;
    font-size: 16px;
}

.image-button:hover {
    background-color: #e5bd14;
    color: black;
}
.modal-header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.modal-title {
    margin-right: auto;
    margin-bottom: 20px;
}

.modal-header form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-header form input[type="text"],
.modal-header form input[type="date"],
.modal-header form input[type="hidden"],
.modal-header form p {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
    font-size: 16px;
}

.modal-header form button[type="submit"] {
    margin: 20px 0;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000000;
    color: #fff;
    border: none;
}

.modal-header .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5rem;
    opacity: 0.5;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}
