<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="ISO-8859-1">
  <link th:rel="stylesheet" type="text/css" th:href="InvoiceStyle.css">
  <link th:rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">


</head>
<body>
<style>
  body{
    background-color: #e2f1ff;
  }
</style>
<header>
  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container">
      <a class="navbar-brand" th:href="@{/}"><img src="images/logo.png" class="logo"   alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/}">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="facilitiesDropdown" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">Rooms</a>
            <ul class="dropdown-menu" aria-labelledby="facilitiesDropdown">
              <li><a class="dropdown-item" th:href="@{/Double-Room}">Double Room</a></li>
              <li><a class="dropdown-item" th:href="@{/Triple-Room}">Triple Room</a></li>
              <li><a class="dropdown-item" th:href="@{/Deluxe-Room}">Deluxe room</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading1">Gallery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/Reservation}">Book</a>
          </li>
          <div th:if="${#httpServletRequest.userPrincipal != null}">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/invoice}">Invoice</a>
            </li>
          </div>
          <div th:if="${#httpServletRequest.userPrincipal != null}">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/admin_page}" sec:authorize="hasRole('ROLE_ADMIN')" style="color: red">Admin-page</a>
            </li>
          </div>
        </ul>
        <ul class="navbar-nav">

          <div th:if="${#httpServletRequest.userPrincipal != null}">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/logout}">Logout</a>
            </li>
          </div>
          <div th:if="${#httpServletRequest.userPrincipal == null}">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/registration}">Register</a>
            </li>
          </div>
          <div th:if="${#httpServletRequest.userPrincipal == null}">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </nav>
</header>
<br>
<br>
<div class="container" style="margin-left: 435px">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h1 class="text-center">User Login Page</h1>
      <form th:action="@{/login}" method="post" class="mt-4">

        <div th:if="${param.error}" class="alert alert-danger">Invalid username or password.</div>

        <div th:href="@{param.logout}" class="alert alert-info" style="background-color: white">You have been logged out.</div>

        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Enter Email ID" autofocus="autofocus">
        </div>

        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" class="form-control" placeholder="Enter Password" />
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-6 offset-sm-3">
              <input type="submit" name="login-submit" id="login-submit" class="form-control btn btn-primary" value="Log In" style="margin-top: 40px"/>
            </div>
          </div>
        </div>
      </form>

      <div class="form-group text-center mt-3">
        <span>New user? <a href="/" th:href="@{/registration}">Register here</a></span>
      </div>
    </div>
  </div>
</div>
<script th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
</body>
</html>